{% extends 'base.html' %}

{% load static %}

{% block content %}


    <style>
        body {
            background-color: rgb(255, 255, 255);

        }

    </style>
    <style>
        body{
            max-width: 1000px;
            margin: auto;
        }
        p{
            text-indent: 50px;
        }
    </style>

    <h1 style="background-color: rgb(70, 195, 245);"><center>PROFIL</center></h1>
    <br>
    <br>
    <p><h1><b><center>UNIVERSITAS SULTAN AGENG TIRTAYASA</center></b></h1></p>
    
    <center><img src="\static\images\logo.png"></center>
    <p><center><b>Aulia Urohmah</b></center></p>
    <p><center><b>2225210086</b></center></p>
    <p><center><b>Dr. Aan Hendrayana</b></center></p>
    <br>
	<br>
	<br>
    <p><center><b>Universitas Sultan Ageng Tirtayasa Press</b></center></p>
    <br>
    <br>

 
{% endblock %}